In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os 
from glob import glob

In [2]:
file = "brazil_ornl_lidar_inventory_meta.csv"

In [3]:
ornl_laz_dir = "/media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_laz/"
ornl_laz_files = glob(ornl_laz_dir + "*.laz")
ornl_tif_dir = "/media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_tif/laz2tif"
os.makedirs(ornl_tif_dir, exist_ok=True)

In [4]:
df = pd.read_csv(file) # write with wtk like usgs code

In [5]:
df.nunique()

filename        3152
max_lat         2979
min_lat         2961
max_lon         3004
min_lon         3015
file_type          1
file_size_mb    3130
file_format        1
version            3
created           90
utmzone            6
srs                6
epsg_code          6
match              1
fullpath        3152
uc                19
nuc                7
dtype: int64

In [6]:
df.nuc.nunique()

7

In [7]:
# utm_to_epsg = {
#     '19S': '32719',
#     '20S': '32720',
#     '21S': '32721',
#     '22S': '32722',
#     '23S': '32723',
#     '24S': '32724'
# }

# # Add a new column 'epsg_code' by mapping the 'utmzone' values
# df['epsg_code'] = df['utmzone'].map(utm_to_epsg)

In [8]:
import pandas as pd
from io import StringIO

data = """
state,survey_reference_code,utmzone
AC,ANT_A01_2011_LiDAR,19S
AC,BON_A01_2013_LiDAR,19S
AC,HUM_A01_2013_LiDAR,19S
AC,RIB_A01_2014_LiDAR,19S
AC,TAL_A01_2013_LiDAR,19S
AM,BA3_A01_2014_LiDAR,20S
AM,BA3_A02_2014_LiDAR,20S
AM,BAR_A01_2014_LiDAR,20S
AM,DUC_A01_2012_LiDAR,21S
AM,DUC_A01_2017_LiDAR,20S
AM,ZF2_A01_2017_LiDAR,20S
AM,ZF2_A02_2017_LiDAR,20S
BA,CON_A01_2015_LiDAR,24S
GO,GO1_A01_2014_LiDAR,22S
MT,COT_A01_2011_LiDAR,21S
MT,FN1_A01_2013_LiDAR,22S
MT,FN1_A01_2016_LiDAR,21S
MT,FN2_A01_2013_LiDAR,21S
MT,FN2_A01_2016_LiDAR,21S
MT,FN3_A01_2014_LiDAR,21S
MT,FNA_A01_2013_LiDAR,21S
MT,FNB_A01_2014_LiDAR,21S
MT,FNC_A01_2017_LiDAR,21S
MT,FNC_A02_2017_LiDAR,21S
MT,FNC_A03_2017_LiDAR,21S
MT,FNC_A04_2017_LiDAR,21S
MT,FND_A01_2017_LiDAR,21S
MT,FND_A02_2017_LiDAR,21S
MT,FND_A03_2017_LiDAR,21S
MT,TAN_A01_2012_LiDAR,22S
MT,TAN_A01_2014_LiDAR,22S
MT,FN3_A01_2017_LiDAR,21S
PA,ANA_A01_2017_LiDAR,21S
PA,AND_A01_2013_LiDAR,23S
PA,AND_A01_2017_LiDAR,23S
PA,CAU_A01_2017_LiDAR,22S
PA,FST_A01_2013_LiDAR,21S
PA,PAR_A01_2017_LiDAR,23S
PA,PRG_A01_2017_LiDAR,23S
PA,SAN_A01_2014_LiDAR,21S
PA,SAN_A02_2014_LiDAR,21S
PA,SFX_A01_2012_LiDAR,22S
PA,SFX_A02_2012_LiDAR,22S
PA,ST1_A01_2013_LiDAR,21S
PA,ST1_A01_2016_LiDAR,21S
PA,ST2_A01_2013_LiDAR,21S
PA,ST2_A01_2016_LiDAR,21S
PA,ST3_A01_2014_LiDAR,21S
PA,ST3_A01_2017_LiDAR,21S
PA,TAC_A01_2013_LiDAR,22S
PA,TAP_A01_2012_LiDAR,21S
PA,TAP_A01_2017_LiDAR,21S
PA,TAP_A02_2012_LiDAR,21S
PA,TAP_A02_2013_LiDAR,21S
PA,TAP_A02_2016_LiDAR,21S
PA,TAP_A03_2012_LiDAR,21S
PA,TAP_A03_2013_LiDAR,21S
PA,TAP_A03_2016_LiDAR,21S
RO,JAM_A01_2011_LiDAR,20S
RO,JAM_A02_2011_LiDAR,20S
RO,JAM_A02_2013_LiDAR,20S
RO,JAM_A03_2013_LiDAR,20S
SC,CAG_A01_2013_LiDAR,22S
SC,MMA_A01_2017_LiDAR,22S
SP,CAN_A01_2014_LIDAR,23S
SP,CAN_A01_2017_LIDAR,23S
SP,CAN_A02_2014_LIDAR,23S
SP,CAN_A02_2017_LIDAR,23S
SP,SDM_A01_2012_LiDAR,23S
SP,SDM_A01_2017_LiDAR,23S
"""

d1 = pd.read_csv(StringIO(data))

In [20]:
df.shape

(3152, 17)

In [22]:
df.to_csv('meta_stateless.csv', index=False)

In [26]:
ornl_tif_dir = "/media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_tif/meta_stateless"
fs = glob(f"{ornl_tif_dir}/*/*.tif"); print(len(fs)/2)

3110.5

In [28]:
3152 - 3110

42

In [23]:
df.columns

Index(['filename', 'max_lat', 'min_lat', 'max_lon', 'min_lon', 'file_type',
       'file_size_mb', 'file_format', 'version', 'created', 'utmzone', 'srs',
       'epsg_code', 'match', 'fullpath', 'uc', 'nuc'],
      dtype='object')

In [10]:
d1.columns  # state, survey_reference_code, utmzone

Index(['state', 'survey_reference_code', 'utmzone'], dtype='object')

In [11]:
d2 = df.copy()

In [12]:
d1

   state survey_reference_code utmzone
0     AC    ANT_A01_2011_LiDAR     19S
1     AC    BON_A01_2013_LiDAR     19S
2     AC    HUM_A01_2013_LiDAR     19S
3     AC    RIB_A01_2014_LiDAR     19S
4     AC    TAL_A01_2013_LiDAR     19S
..   ...                   ...     ...
65    SP    CAN_A01_2017_LIDAR     23S
66    SP    CAN_A02_2014_LIDAR     23S
67    SP    CAN_A02_2017_LIDAR     23S
68    SP    SDM_A01_2012_LiDAR     23S
69    SP    SDM_A01_2017_LiDAR     23S

[70 rows x 3 columns]

In [13]:
d3 = d2.merge(d1[['utmzone', 'state', 'survey_reference_code']], on='utmzone', how='left')

In [19]:
d3.to_csv("meta.csv", index=False)

In [14]:
d3.isna().sum()

filename                  0
max_lat                   0
min_lat                   0
max_lon                   0
min_lon                   0
file_type                 0
file_size_mb              0
file_format               0
version                   0
created                   0
utmzone                   0
srs                       0
epsg_code                 0
match                     0
fullpath                  0
uc                       68
nuc                      68
state                     0
survey_reference_code     0
dtype: int64

In [15]:
def convert_to_int_list(uclasses):
    """
    Convert a string or other iterable to a list of integers.

    Handles inputs like:
    - "[1 2 3]"
    - "1 2 3"
    - "[1,2,3]"
    - "[1, 2, 3]"

    Parameters:
        uclasses (str or iterable): The input to convert.

    Returns:
        list: A list of integers.
    """
    if isinstance(uclasses, str):
        # Remove brackets and replace commas with spaces, then split
        uclasses = [int(x) for x in uclasses.replace('[', '').replace(']', '').replace(',', ' ').split()]
    else:
        # If already iterable, just ensure all elements are integers
        uclasses = [int(x) for x in uclasses]

    return uclasses

In [18]:
from utils import generate_dtm,generate_dtm_by_return,generate_dsm_by_return

ImportError: cannot import name 'generate_dtm_by_return' from 'utils' (/home/ljp238/Downloads/brazil_ornl/ORNL/code/utils.py)

In [ ]:
for i, row in d3.iterrows():
    if i > 0:
        break
    state = row['state']
    laz = row['fullpath']
    epsgcode = row['epsg_code'] 
    uclasses = row['uc']
    uclasses =  convert_to_int_list(uclasses)
    print(uclasses)
    loc_dpath = os.path.join(ornl_tif_dir, state)
    os.makedirs(loc_dpath, exist_ok=True)
    tif = os.path.join(loc_dpath, os.path.basename(laz).replace('.laz', '.tif'))

    if 2 in uclasses:
        print('Y')
        generate_dtm(laz, tif, res=10,outfn="mean", override_srs=epsgcode)
        generate_dtm_by_return(laz, tif, res=10, outfn="mean",override_srs=epsgcode)

        generate_dsm_by_return(laz, tif, res=10, outfn="mean",override_srs=epsgcode)
        generate_dsm_by_return(laz, tif, res=10, outfn="max",override_srs=epsgcode)
        
    else:
        print('N')

[1, 2]
Y
Generating DTM: /media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_laz/ANA_A01_2017_laz_0.laz
-> /media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_tif/laz2tif/AM/ANA_A01_2017_laz_0_DTM10_mean.tif
DTM saved to /media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_tif/laz2tif/AM/ANA_A01_2017_laz_0_DTM10_mean.tif
run.time = 0.3225114872834335 min(s)

In [39]:
row

filename                                            ANA_A01_2017_laz_0.laz
max_lat                                                          -3.363488
min_lat                                                          -3.372548
max_lon                                                         -54.992912
min_lon                                                         -55.001927
file_type                                                       pointcloud
file_size_mb                                                     85.374953
file_format                                                        LAS/LAZ
version                                                                1.2
created                                                           214/2017
utmzone                                                                21S
srs                      +proj=utm +zone=21 +south +ellps=GRS80 +towgs8...
epsg_code                                                            32721
match                                                                    1
fullpath                 /media/ljp238/12TBWolf/ARCHIEVE/Brazil_ORNL_la...
uc                                                                   [1 2]
nuc                                                                    2.0
state                                                                   MT
survey_reference_code                                   FNC_A04_2017_LiDAR
Name: 11, dtype: object